<section>
  <h1>This is a simple tool for keeping track of your clash of clanmates activity</h1>

  <p>You can add your clanmates monthly donations, clan game participation and previous war performance to help you determine whether to add them to the next war.</p>

  <p>Click the members tab to see your current clan members</p>

  <p><strong>Nota bene:</strong> This is to help my understanding of Angular 9.x as a frontend tool and Springboot as an API. Github projects a linked in the footer.</p>
</section>
